<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>
  
  <providers embedded="DataAccess.Config.providers.config, DataAccess" />

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="MSSQLLocalDB" 
                connectionString="
                Data Source=(LocalDB)\MSSQLLocalDB;
                AttachDbFilename=|DataDirectory|\TaskDb.mdf;
                Integrated Security=True;
                Connect Timeout=30;
                User Id=TEAM_CITY;
                Password=TEAM_CITY_PW;"/>
  </database>

  <alias>
    <typeAlias alias="UserDto" type="DataTransfer.Users.UserDto, DataTransfer" />
    <typeAlias alias="CheckListDto" type="DataTransfer.CheckLists.CheckListDto, DataTransfer" />
    <typeAlias alias="CheckListItemDto" type="DataTransfer.CheckLists.CheckListItemDto, DataTransfer" />
  </alias>
  
  <sqlMaps>
    <sqlMap embedded="DataAccess.SqlMaps.Users.UserMap.xml, DataAccess" />
    <sqlMap embedded="DataAccess.SqlMaps.CheckLists.CheckListMap.xml, DataAccess" />
    <sqlMap embedded="DataAccess.SqlMaps.CheckLists.CheckListItemMap.xml, DataAccess" />
  </sqlMaps>
</sqlMapConfig>